# Laravel Default
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*.backup

# Laravel IDE helpers (if using barryvdh/laravel-ide-helper)
.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php

# Laravel Mix (Webpack)
npm-debug.log
yarn-error.log
mix-manifest.json

# OS files
.DS_Store
Thumbs.db

# Composer
composer.lock

# VS Code
.vscode

# PHPStorm
.idea

# Backup or temp files
*.log
*.bak
*.tmp
*.swp
